In [80]:
import pandas as pd
import os

In [81]:
import os
import pandas as pd

# Directory where CSV files are stored
csv_directory = '/Users/wickywonka/CMU/coursework/17735/project/17735-project/ExtractedData'

# Lists to hold data from each file
logon_data = []
logoff_data = []

# Iterate over each CSV file in the directory
for filename in os.listdir(csv_directory):
    if filename.endswith('.csv'):
        # Full path to the CSV file
        csv_path = os.path.join(csv_directory, filename)

        # Read the CSV file into a DataFrame
        df = pd.read_csv(csv_path, names=['User', 'Timestamp', 'PC', 'ActivityType', 'Action'])

        # Convert Timestamp to datetime
        df['Timestamp'] = pd.to_datetime(df['Timestamp'], format='%m/%d/%Y %H:%M:%S')

        # Extract time and hour from Timestamp
        df['Time'] = df['Timestamp'].dt.time
        df['Hour'] = df['Timestamp'].dt.hour

        # Append DataFrame to the list by action
        logon_data.append(df[df['Action'] == 'Logon'])
        logoff_data.append(df[df['Action'] == 'Logoff'])

# Concatenate all logon and logoff data into two separate DataFrames
logon_df = pd.concat(logon_data)
logoff_df = pd.concat(logoff_data)

# Group by 'User' and aggregate times for logon
df_user_logon_stats = logon_df.groupby('User')['Time'].agg(['min', 'max']).reset_index()
df_logon_mode = logon_df.groupby('User')['Time'].agg(lambda x: x.value_counts().index[0]).reset_index()
df_logon_mean = logon_df.groupby('User')['Hour'].mean().reset_index()

# Convert mean hour to int and then to time
df_logon_mean['Hour'] = df_logon_mean['Hour'].astype(int)
df_logon_mean['Hour'] = pd.to_datetime(df_logon_mean['Hour'], format='%H').dt.time

# Add mode and mean to the logon stats DataFrame
df_user_logon_stats['mode'] = df_logon_mode['Time']
df_user_logon_stats['mean'] = df_logon_mean['Hour']

# Group by 'User' and aggregate times for logoff
df_user_logoff_stats = logoff_df.groupby('User')['Time'].agg(['min', 'max']).reset_index()
df_logoff_mode = logoff_df.groupby('User')['Time'].agg(lambda x: x.value_counts().index[0]).reset_index()
df_logoff_mean = logoff_df.groupby('User')['Hour'].mean().reset_index()

# Convert mean hour to int and then to time
df_logoff_mean['Hour'] = df_logoff_mean['Hour'].astype(int)
df_logoff_mean['Hour'] = pd.to_datetime(df_logoff_mean['Hour'], format='%H').dt.time

# Add mode and mean to the logoff stats DataFrame
df_user_logoff_stats['mode'] = df_logoff_mode['Time']
df_user_logoff_stats['mean'] = df_logoff_mean['Hour']

In [82]:
print(df_user_logon_stats)
print(df_user_logoff_stats)

             User       min       max      mode      mean
0    DTAA/AAA0371  07:35:01  13:46:57  07:54:21  09:00:00
1    DTAA/AAC0344  07:50:03  08:09:53  08:06:07  07:00:00
2    DTAA/AAC0599  07:50:03  08:09:58  07:56:28  07:00:00
3    DTAA/AAH0734  08:20:05  08:39:58  08:26:55  08:00:00
4    DTAA/AAK0658  08:20:00  08:39:54  08:22:33  08:00:00
..            ...       ...       ...       ...       ...
995  DTAA/ZGH0528  08:35:06  14:54:12  08:36:42  10:00:00
996  DTAA/ZKE0662  07:20:03  13:36:39  07:23:43  09:00:00
997  DTAA/ZKH0388  06:35:00  16:35:13  06:47:44  08:00:00
998  DTAA/ZKN0548  08:20:05  08:39:46  08:25:35  08:00:00
999  DTAA/ZRR0705  09:05:02  09:24:54  09:09:14  09:00:00

[1000 rows x 5 columns]
             User       min       max      mode      mean
0    DTAA/AAA0371  08:33:18  14:54:58  14:48:22  13:00:00
1    DTAA/AAC0344  15:55:00  16:09:58  15:55:10  15:00:00
2    DTAA/AAC0599  15:55:01  16:09:53  16:04:27  15:00:00
3    DTAA/AAH0734  17:25:00  17:39:59  17:34:26  17:00:00
4    DTAA/AAK0658  16:25:05  16:39:59  16:38:32  16:00:00
..            ...       ...       ...       ...       ...
995  DTAA/ZGH0528  17:40:01  17:54:58  17:50:29  17:00:00
996  DTAA/ZKE0662  19:25:02  19:39:59  19:37:22  19:00:00
997  DTAA/ZKH0388  07:34:06  17:54:59  17:47:13  16:00:00
998  DTAA/ZKN0548  18:25:01  18:39:54  18:33:30  18:00:00
999  DTAA/ZRR0705  18:10:01  18:24:58  18:18:09  18:00:00

[1000 rows x 5 columns]

In [83]:
df_user_logon_stats

             User       min       max      mode      mean
0    DTAA/AAA0371  07:35:01  13:46:57  07:54:21  09:00:00
1    DTAA/AAC0344  07:50:03  08:09:53  08:06:07  07:00:00
2    DTAA/AAC0599  07:50:03  08:09:58  07:56:28  07:00:00
3    DTAA/AAH0734  08:20:05  08:39:58  08:26:55  08:00:00
4    DTAA/AAK0658  08:20:00  08:39:54  08:22:33  08:00:00
..            ...       ...       ...       ...       ...
995  DTAA/ZGH0528  08:35:06  14:54:12  08:36:42  10:00:00
996  DTAA/ZKE0662  07:20:03  13:36:39  07:23:43  09:00:00
997  DTAA/ZKH0388  06:35:00  16:35:13  06:47:44  08:00:00
998  DTAA/ZKN0548  08:20:05  08:39:46  08:25:35  08:00:00
999  DTAA/ZRR0705  09:05:02  09:24:54  09:09:14  09:00:00

[1000 rows x 5 columns]

In [84]:
df_user_logoff_stats

             User       min       max      mode      mean
0    DTAA/AAA0371  08:33:18  14:54:58  14:48:22  13:00:00
1    DTAA/AAC0344  15:55:00  16:09:58  15:55:10  15:00:00
2    DTAA/AAC0599  15:55:01  16:09:53  16:04:27  15:00:00
3    DTAA/AAH0734  17:25:00  17:39:59  17:34:26  17:00:00
4    DTAA/AAK0658  16:25:05  16:39:59  16:38:32  16:00:00
..            ...       ...       ...       ...       ...
995  DTAA/ZGH0528  17:40:01  17:54:58  17:50:29  17:00:00
996  DTAA/ZKE0662  19:25:02  19:39:59  19:37:22  19:00:00
997  DTAA/ZKH0388  07:34:06  17:54:59  17:47:13  16:00:00
998  DTAA/ZKN0548  18:25:01  18:39:54  18:33:30  18:00:00
999  DTAA/ZRR0705  18:10:01  18:24:58  18:18:09  18:00:00

[1000 rows x 5 columns]

In [85]:
df_logon_mean.head()

           User      Hour
0  DTAA/AAA0371  09:00:00
1  DTAA/AAC0344  07:00:00
2  DTAA/AAC0599  07:00:00
3  DTAA/AAH0734  08:00:00
4  DTAA/AAK0658  08:00:00

In [86]:
df_logon_mode.head()

           User      Time
0  DTAA/AAA0371  07:54:21
1  DTAA/AAC0344  08:06:07
2  DTAA/AAC0599  07:56:28
3  DTAA/AAH0734  08:26:55
4  DTAA/AAK0658  08:22:33

In [87]:
df_logoff_mean.head()

           User      Hour
0  DTAA/AAA0371  13:00:00
1  DTAA/AAC0344  15:00:00
2  DTAA/AAC0599  15:00:00
3  DTAA/AAH0734  17:00:00
4  DTAA/AAK0658  16:00:00

In [88]:
df_logoff_mode.head()

           User      Time
0  DTAA/AAA0371  14:48:22
1  DTAA/AAC0344  15:55:10
2  DTAA/AAC0599  16:04:27
3  DTAA/AAH0734  17:34:26
4  DTAA/AAK0658  16:38:32

In [89]:
import matplotlib.pyplot as plt
from sklearn.ensemble import IsolationForest
import pickle
import numpy as np
import pandas as pd 

def dtt2timestamp(dtt):
  time_in_sec = (dtt.hour*60 + dtt.minute) * 60 + dtt.second
  return time_in_sec

df_user_logon_stats_sec = df_user_logon_stats

time_columns = ['min', 'max', 'mode', 'mean']
for col in time_columns:
    df_user_logon_stats_sec[col] = pd.to_datetime(df_user_logon_stats[col], format='%H:%M:%S').dt.time


min_ts = [dtt2timestamp(dtt) for dtt in df_user_logon_stats_sec['min']]
max_ts = [dtt2timestamp(dtt) for dtt in df_user_logon_stats_sec['max']]
mode_ts = [dtt2timestamp(dtt) for dtt in df_user_logon_stats_sec['mode']]
mean_ts = [dtt2timestamp(dtt) for dtt in df_user_logon_stats_sec['mean']]

df_user_logon_stats_sec['min_ts'] = min_ts
df_user_logon_stats_sec['max_ts'] = max_ts
df_user_logon_stats_sec['mode_ts'] = mode_ts
df_user_logon_stats_sec['mean_ts'] = mean_ts


df_user_logon_stats_sec.drop(['min','max','mode','mean'], axis=1)

df_user_logoff_stats_sec = df_user_logoff_stats

for col in time_columns:
    df_user_logoff_stats_sec[col] = pd.to_datetime(df_user_logoff_stats[col], format='%H:%M:%S').dt.time


min_ts = [dtt2timestamp(dtt) for dtt in df_user_logoff_stats_sec['min']] 
max_ts = [dtt2timestamp(dtt) for dtt in df_user_logoff_stats_sec['max']]
mode_ts = [dtt2timestamp(dtt) for dtt in df_user_logoff_stats_sec['mode']]
mean_ts = [dtt2timestamp(dtt) for dtt in df_user_logoff_stats_sec['mean']]


df_user_logoff_stats_sec['min_ts'] = min_ts
df_user_logoff_stats_sec['max_ts'] = max_ts
df_user_logoff_stats_sec['mode_ts'] = mode_ts
df_user_logoff_stats_sec['mean_ts'] = mean_ts


df_user_logoff_stats_sec.drop(['min', 'max','mode','mean'], axis=1)


df_log_on_off_stats = pd.DataFrame()

df_log_on_off_stats['User'] = df_user_logon_stats_sec['User']
df_log_on_off_stats['on_min_ts'] = df_user_logon_stats_sec['min_ts']
df_log_on_off_stats['on_max_ts'] = df_user_logon_stats_sec['max_ts']
df_log_on_off_stats['on_mode_ts'] = df_user_logon_stats_sec['mode_ts']
df_log_on_off_stats['on_mean_ts'] = df_user_logon_stats_sec['mean_ts']
df_log_on_off_stats['off_min_ts'] = df_user_logon_stats_sec['min_ts']
df_log_on_off_stats['off_max_ts'] = df_user_logon_stats_sec['max_ts']
df_log_on_off_stats['off_mode_ts'] = df_user_logon_stats_sec['mode_ts']
df_log_on_off_stats['off_mean_ts'] = df_user_logon_stats_sec['mean_ts']


#df_log_on_off_stats.dtypes

log_stats = df_log_on_off_stats.drop(['User'], axis=1)
log_stats_array = np.array(log_stats)  # Changed from np.matrix to np.array
print(log_stats_array)



#df_log_on_off_stats.columns


#logon
forest = IsolationForest(bootstrap=False, contamination= 0.1 , max_features=1.0,
        max_samples='auto', n_estimators=100, n_jobs=1, random_state=0,
        verbose=0)
forest.fit(log_stats_array)
log_ascore = forest.decision_function(log_stats_array)
log_ascore[:10]


# counting the values
df22 = pd.Series(forest.predict(log_stats_array))
df22 = df22.map({1:0, -1:1})
print(df22.value_counts())


# with open('../pkl/log_stats_matrix.pkl','wb') as file :
#   pickle.dump(forest, file)


df_user_log_result = pd.DataFrame()
df_user_log_result['User'] = df_user_logoff_stats_sec['User']
df_user_log_result['ascore'] = log_ascore
# df_user_log_result.to_csv('user_log_result.csv')
print(df_user_log_result)


outliers = df_user_log_result.loc[df_user_log_result['ascore'] < 0]
print(outliers)

[[27301 49617 28461 ... 49617 28461 32400]
 [28203 29393 29167 ... 29393 29167 25200]
 [28203 29398 28588 ... 29398 28588 25200]
 ...
 [23700 59713 24464 ... 59713 24464 28800]
 [30005 31186 30335 ... 31186 30335 28800]
 [32702 33894 32954 ... 33894 32954 32400]]
0    900
1    100
Name: count, dtype: int64
             User  anomaly_score
0    DTAA/AAA0371       0.146561
1    DTAA/AAC0344       0.171652
2    DTAA/AAC0599       0.184828
3    DTAA/AAH0734       0.150257
4    DTAA/AAK0658       0.146880
..            ...            ...
995  DTAA/ZGH0528       0.097737
996  DTAA/ZKE0662       0.112834
997  DTAA/ZKH0388       0.002084
998  DTAA/ZKN0548       0.147484
999  DTAA/ZRR0705       0.017965

[1000 rows x 2 columns]
             User  anomaly_score
13   DTAA/ABS0726      -0.005567
14   DTAA/ACD0647      -0.057754
24   DTAA/AFF0760      -0.002316
33   DTAA/AGW0182      -0.001182
45   DTAA/AJC0399      -0.087825
..            ...            ...
954  DTAA/WCN0570      -0.046487
961  DTAA/WJG0153      -0.038810
970  DTAA/WTA0867      -0.034294
972  DTAA/XCB0445      -0.043429
975  DTAA/XIN0791      -0.029094

[100 rows x 2 columns]

In [90]:
# Lists to hold data from each file
connect_data = []
disconnect_data = []

# Iterate over each CSV file in the directory
for filename in os.listdir(csv_directory):
    if filename.endswith('.csv'):
        # Full path to the CSV file
        csv_path = os.path.join(csv_directory, filename)

        # Read the CSV file into a DataFrame
        df = pd.read_csv(csv_path, names=['User', 'Timestamp', 'PC', 'ActivityType', 'Action'])

        # Convert Timestamp to datetime
        df['Timestamp'] = pd.to_datetime(df['Timestamp'], format='%m/%d/%Y %H:%M:%S')

        # Filter DataFrame by action and append to the respective list
        connect_data.append(df[df['Action'] == 'Connect'])
        disconnect_data.append(df[df['Action'] == 'Disconnect'])

# Concatenate all connect and disconnect data into two separate DataFrames
connect_df = pd.concat(connect_data)
disconnect_df = pd.concat(disconnect_data)

# Calculate means for connect and disconnect
connect_means = connect_df.groupby('User')['Timestamp'].apply(lambda x: x.mean().time())
disconnect_means = disconnect_df.groupby('User')['Timestamp'].apply(lambda x: x.mean().time())

# Calculate modes for connect and disconnect
# We use scipy's mode function which returns the first mode in case of multimodal data
connect_modes = connect_df.groupby('User')['Timestamp'].apply(lambda x: x.dt.time.mode()[0])
disconnect_modes = disconnect_df.groupby('User')['Timestamp'].apply(lambda x: x.dt.time.mode()[0])

# Convert Series to DataFrame for CSV output
connect_means_df = connect_means.reset_index().rename(columns={'Timestamp': 'Connect_mean_time'})
connect_modes_df = connect_modes.reset_index().rename(columns={'Timestamp': 'Connect_mode_time'})

disconnect_means_df = disconnect_means.reset_index().rename(columns={'Timestamp': 'Disconnect_mean_time'})
disconnect_modes_df = disconnect_modes.reset_index().rename(columns={'Timestamp': 'Disconnect_mode_time'})

# Save the DataFrames to CSV files
# connect_means_df.to_csv('connect_means.csv', index=False)
# connect_modes_df.to_csv('connect_modes.csv', index=False)
# disconnect_means_df.to_csv('disconnect_means.csv', index=False)
# disconnect_modes_df.to_csv('disconnect_modes.csv', index=False)

# These variables hold the respective statistics for later use in your code:
# connect_means_df, connect_modes_df, disconnect_means_df, disconnect_modes_df

In [91]:
connect_means_df.head()

           User Connect_mean_time
0  DTAA/ABB0272          19:20:46
1  DTAA/ABS0726          00:06:48
2  DTAA/ACH0803          14:59:06
3  DTAA/AFF0760          03:13:46
4  DTAA/AFH0331          10:56:46

In [92]:
connect_modes_df.head()

           User Connect_mode_time
0  DTAA/ABB0272          15:47:45
1  DTAA/ABS0726          01:01:07
2  DTAA/ACH0803          16:05:54
3  DTAA/AFF0760          00:57:03
4  DTAA/AFH0331          07:57:22

In [93]:
disconnect_means_df.head()

           User Disconnect_mean_time
0  DTAA/ABB0272             22:43:29
1  DTAA/ABS0726             00:36:46
2  DTAA/ACH0803             06:03:02
3  DTAA/AFF0760             03:44:57
4  DTAA/AFH0331             09:26:35

In [94]:
disconnect_modes_df.head()

           User Disconnect_mode_time
0  DTAA/ABB0272             14:35:34
1  DTAA/ABS0726             01:01:46
2  DTAA/ACH0803             16:43:48
3  DTAA/AFF0760             01:02:11
4  DTAA/AFH0331             17:47:54

In [95]:
df_all = pd.DataFrame()

# Read all CSV files and concatenate into a single DataFrame
for filename in os.listdir(csv_directory):
    if filename.endswith('.csv'):
        file_path = os.path.join(csv_directory, filename)
        df_temp = pd.read_csv(file_path, header=None)  # Assuming the CSV has no header
        df_temp.columns = ['User', 'Timestamp', 'PC', 'Activity', 'Action']  # Assign column names
        df_all = pd.concat([df_all, df_temp])

# Ensure 'Timestamp' is a datetime object
df_all['Timestamp'] = pd.to_datetime(df_all['Timestamp'], format='%m/%d/%Y %H:%M:%S')

# Filter out 'Logon' and 'Logoff' activities into separate DataFrames
df_logon = df_all[df_all['Action'] == 'Logon']
df_logoff = df_all[df_all['Action'] == 'Logoff']

# Define a function to perform the aggregation and transformation
def aggregate_user_pc_log_activities(df_activity):
    # Aggregate data to count the total number of activities per user per PC
    df_user_pc = df_activity.groupby(['User', 'PC']).size().reset_index(name='pc_activities_per_user_total')

    # Calculate the unique count of PCs per user
    df_user_pc['unique_pc_count'] = df_user_pc.groupby('User')['PC'].transform('nunique')

    # Keep only the 'User' and 'unique_pc_count' columns and drop duplicates
    df_user_pc = df_user_pc[['User', 'unique_pc_count']].drop_duplicates()

    return df_user_pc

# Apply the function to both logon and logoff DataFrames
df_user_pc_logon = aggregate_user_pc_log_activities(df_logon)
df_user_pc_logoff = aggregate_user_pc_log_activities(df_logoff)

# Optionally, save these dataframes to CSV
# df_user_pc_logon.to_csv('user_pc_logon.csv', index=False)
# df_user_pc_logoff.to_csv('user_pc_logoff.csv', index=False)

             User Connect_min_time Connect_max_time Connect_mean_time  \
0    DTAA/ABB0272         09:35:19         09:26:18          19:20:46
1    DTAA/ABS0726         04:32:16         02:44:26          00:06:48
2    DTAA/ACH0803         17:11:48         15:05:45          14:59:06
3    DTAA/AFF0760         00:57:03         04:45:39          03:13:46
4    DTAA/AFH0331         09:14:33         09:29:43          10:56:46
..            ...              ...              ...               ...
223  DTAA/YCB0005         15:46:31         16:05:53          18:42:04
224  DTAA/YCV0635         10:56:52         16:53:57          11:23:51
225  DTAA/YQW0689         16:30:58         09:05:08          12:05:24
226  DTAA/ZAB0889         02:19:27         22:27:47          15:58:17
227  DTAA/ZKH0388         08:02:14         13:24:18          04:21:43

    Connect_mode_time
0            15:47:45
1            01:01:07
2            16:05:54
3            00:57:03
4            07:57:22
..                ...
223          07:41:44
224          08:00:22
225          14:26:56
226          00:28:50
227          13:37:41

[228 rows x 5 columns]

In [96]:
df_user_pc_logon

[[34519 33978 56865 ... 54129 52534 81809]
 [16336  9866  3667 ... 10100  3706  2206]
 [61908 54345 57954 ... 59896 60228 21782]
 ...
 [59458 32708 52016 ... 34312 58023 23985]
 [ 8367 80867  1730 ... 85495  2039  6767]
 [28934 48258 49061 ... 54927 27834  8616]]
User
DTAA/ABB0272    1
DTAA/LPG0099    1
DTAA/LTM0418    1
DTAA/MAB0532    1
DTAA/MAG0290    1
               ..
DTAA/FUA0154    1
DTAA/GHC0041    1
DTAA/GKJ0573    1
DTAA/GML0105    1
DTAA/ZKH0388    1
Name: count, Length: 228, dtype: int64
             User  anomaly_score
0    DTAA/ABB0272       0.056168
1    DTAA/ABS0726      -0.007996
2    DTAA/ACH0803       0.089255
3    DTAA/AFF0760      -0.001699
4    DTAA/AFH0331       0.077263
..            ...            ...
223  DTAA/YCB0005       0.057382
224  DTAA/YCV0635       0.133047
225  DTAA/YQW0689       0.077052
226  DTAA/ZAB0889      -0.007832
227  DTAA/ZKH0388       0.090549

[228 rows x 2 columns]
             User  anomaly_score
1    DTAA/ABS0726      -0.007996
3    DTAA/AFF0760      -0.001699
42   DTAA/CHS0324      -0.054312
44   DTAA/CLK0383      -0.057056
47   DTAA/COS0121      -0.015180
51   DTAA/CTR0537      -0.050233
61   DTAA/DFZ0063      -0.026313
88   DTAA/GYT0279      -0.019554
98   DTAA/HNS0858      -0.082589
107  DTAA/JAH0544      -0.048153
109  DTAA/JBL0450      -0.062329
125  DTAA/JSE0020      -0.046710
128  DTAA/KAD0059      -0.028642
135  DTAA/KSP0927      -0.018353
142  DTAA/LKY0181      -0.093477
152  DTAA/MIC0914      -0.006845
164  DTAA/NHL0253      -0.025809
180  DTAA/RBC0583      -0.039745
185  DTAA/RLC0442      -0.046105
193  DTAA/SDC0032      -0.025277
203  DTAA/SRN0275      -0.020193
220  DTAA/WTA0867      -0.018543
226  DTAA/ZAB0889      -0.007832

In [97]:
import matplotlib.pyplot as plt
from sklearn.ensemble import IsolationForest
import pickle
import numpy as np

In [98]:
# Let's assume df_user_pc_logon and df_user_pc_logoff are obtained from the previous code
# We will use df_user_pc_logon for this example

# Prepare the data for the Isolation Forest
# Reshape the 'unique_pc_count' column to a 2D array
pc_counts = np.array(df_user_pc_logon['unique_pc_count']).reshape(-1, 1)

# Initialize the Isolation Forest model
forest = IsolationForest(bootstrap=False, contamination=0.1, max_features=1.0,
                         max_samples='auto', n_estimators=100, n_jobs=1, random_state=None,
                         verbose=0)

# Fit the model
forest.fit(pc_counts)

# Serialize the model using pickle
with open('user_pc_ct_isolation_forest.pkl', 'wb') as file:
    pickle.dump(forest, file)

# Get the anomaly scores (the lower, the more abnormal)
anomaly_scores = forest.decision_function(pc_counts)

# Create a DataFrame to hold the results
results = pd.DataFrame()
results['user'] = df_user_pc_logon['User']
results['unique_pc_count'] = df_user_pc_logon['unique_pc_count']
results['anomaly_score'] = anomaly_scores

# Identify potential outliers
# Outliers are defined as observations with an anomaly score less than 0
outliers = results.loc[results['anomaly_score'] < 0]

# Display the results
print(results.head(10))  # Show the first 10 results
print(outliers)          # Show the outliers

               User  unique_pc_count
0      DTAA/AAA0371               16
16     DTAA/AAC0344                1
17     DTAA/AAC0599                1
18     DTAA/AAH0734                1
19     DTAA/AAK0658                1
...             ...              ...
22244  DTAA/ZGH0528                1
22245  DTAA/ZKE0662                1
22246  DTAA/ZKH0388               44
22290  DTAA/ZKN0548                1
22291  DTAA/ZRR0705                1

[1000 rows x 2 columns]

             user  unique_pc_count  anomaly_score
0    DTAA/AAA0371               16       0.037517
16   DTAA/AAC0344                1       0.180921
17   DTAA/AAC0599                1       0.180921
18   DTAA/AAH0734                1       0.180921
19   DTAA/AAK0658                1       0.180921
20   DTAA/AAK0924                1       0.180921
21   DTAA/AAR0508                1       0.180921
22   DTAA/AAS0709               19       0.038717
41   DTAA/ABB0272               72      -0.049830
113  DTAA/ABD0833                1       0.180921
               user  unique_pc_count  anomaly_score
41     DTAA/ABB0272               72      -0.049830
117    DTAA/ABS0726               11      -0.005144
186    DTAA/AFG0122               74      -0.086554
320    DTAA/AGW0182               65      -0.006841
557    DTAA/AJN0804               71      -0.030245
...             ...              ...            ...
21719  DTAA/VMM0309               66      -0.004984
21792  DTAA/WCN0570                8      -0.032957
21986  DTAA/XQW0354               69      -0.004303
22173  DTAA/YVF0045               66      -0.004984
22246  DTAA/ZKH0388               44      -0.002529

[98 rows x 3 columns]